.desktop-title-bar {
  align-items: flex-end;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto 10px;
}
.desktop-title-bar.active-step {
   grid-template-columns: auto 1fr auto auto  ;
}
.desktop-title-bar.active-step-only-badge {
   grid-template-columns: 1fr auto auto auto  ;
}
.desktop-title-bar.active-step-badge-list {
   grid-template-columns: auto 1fr auto  ;
}
.desktop-title-bar.active-step-only-badge  .step-badge {
  margin-left: 8px;
  margin-right: 7px;
  align-self: center;
}
.desktop-title-bar.steps {
   grid-template-columns:  minmax(auto, 1fr) auto auto  ;
}
.desktop-title-bar > h2 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

hr {
  margin: 0 !important;  
}